<h1 class="mt-5">Agregar Producto</h1>
<hr />

<form [formGroup]="miFormulario">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label">Nombre:</label>
    </div>

    <div class="col-auto">
      <input class="form-control" type="text" formControlName="nombre" />
    </div>

    <div class="col-auto">
      <span
        error-msg
        [color]="color"
        [mensaje]="mensaje"
        [valido]="!tieneError('nombre')"
      ></span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-primary" (click)="cambiarMensaje()">
        Guardar
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="cambiarColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Value: {{ miFormulario.value | json }} </pre>
<pre>Valid: {{ miFormulario.valid }} </pre>

<div class="row mt-5" *customIf="miFormulario.valid">
  <div class="col">
    <div class="alert alert-primary">Todo OK!</div>
  </div>
</div>
